{% extends 'admin/base.html.twig' %}
{% block body %}

    <div>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#degree" role="tab" aria-controls="nav-home" aria-selected="true">Formation</a>
                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#year" role="tab" aria-controls="nav-profile" aria-selected="false">Années</a>
                <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#promotion" role="tab" aria-controls="nav-contact" aria-selected="false">Promotion</a>
            </div>
        </nav>
        <div class="row">

        </div>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="degree" role="tabpanel" aria-labelledby="nav-home-tab">

                <a href="{{ path('admin.degree.new') }}" class="btn btn-primary mx-auto mt-5 mb-5"><i class="fas fa-plus"></i> Nouvelle Formation</a>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Nom de le Formation</th>
                        <th scope="col">Modifier</th>
                        <th scope="col">Supprimer</th>

                    </tr>
                    </thead>
                    <tbody>

                    {% for degree in templateData.degrees %}
                        <tr id="degree-{{ degree.id }}">
                            <td scope="row">
                                {{ degree.name }}
                            </td>
                            <th><a href="{{ path('admin.degree.edit',{id:degree.id}) }}"><i class="far fa-edit"></i></a></th>
                            <th><a href="{{ path('admin.degree.delete',{id:degree.id}) }}" class="delete-button"><i class="far fa-trash-alt"></i></a></th>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>

            </div>
            <div class="tab-pane fade" id="year" role="tabpanel" aria-labelledby="nav-profile-tab">

                <a href="{{ path('admin.year.new') }}" class="btn btn-primary mx-auto mt-5 mb-5"><i class="fas fa-plus"></i> Nouvelle Années</a>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Nom de le Formation</th>
                        <th scope="col">Modifier</th>
                        <th scope="col">Supprimer</th>

                    </tr>
                    </thead>
                    <tbody>

                    {% for year in templateData.years %}
                        <tr id="year-{{ year.id }}">
                            <td scope="row">
                                {{ year.title }}
                            </td>
                            <th><a href="{{ path('admin.year.edit',{id:year.id}) }}"><i class="far fa-edit"></i></a></th>
                            <th><a href="{{ path('admin.year.delete',{id:year.id}) }}" class="delete-button"><i class="far fa-trash-alt"></i></a></th>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>

            </div>
            <div class="tab-pane fade" id="promotion" role="tabpanel" aria-labelledby="nav-contact-tab">

                <a href="{{ path('admin.promotion.new') }}" class="btn btn-primary mx-auto mt-5 mb-5"><i class="fas fa-plus"></i> Nouvelle Promotion</a>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Nom de le Formation</th>
                        <th scope="col">Années</th>
                        <th scope="col">Modifier</th>
                        <th scope="col">Supprimer</th>

                    </tr>
                    </thead>
                    <tbody>

                    {% for promotion in templateData.promotions %}
                        <tr id="promo-{{ promotion.id }}">
                            <td scope="row">
                                {{ promotion.degree.name }}
                            </td>
                            <td>
                                {{ promotion.year.title }}
                            </td>
                            <td><a href="{{ path('admin.promotion.edit',{id:promotion.id}) }}"><i class="far fa-edit"></i></a></td>
                            <td><a href="{{ path('admin.promotion.delete',{id:promotion.id}) }}" class="delete-button"><i class="far fa-trash-alt"></i></a></td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>

            </div>
        </div>

    </div>


{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>

        $( document ).ready(function(){
            // Détecte le hash dans l'url, l'utilise pour sélectionner le lien correspondant, déclenche le clique
            $("a[href='" + window.location.hash + "']").trigger('click');

            //Demande de comfirmation avant suppression
            const deleteButtons = document.querySelectorAll('.delete-button');
            for(const button of deleteButtons){
                button.addEventListener('click',(e)=> {
                    e.preventDefault();
                    const reponse = window.confirm('Êtes-vous certain de vouloir supprimer cet élement?');
                    console.log(reponse);
                    if(reponse){
                        const url= e.currentTarget.href;

                        $.post(url,(id)=>{
                            console.log(id);
                            const trElement = document.getElementById(id);
                            console.log(trElement);
                            trElement.parentNode.removeChild(trElement);
                        });
                    }
                })
            }



        });



    </script>
{% endblock %}
