{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}
{% block body %}
    <div id="presentation">
        <p>Ce site a été créer afin de rassemblé les anciens élève de la formation du GRETA. Il permet de communiquer avec
            les
            élèves d'obtenir une liste des entreprises qui ont pris des stagiaires et de faire des recherches sur les
            différentes
            évolutions de chacun.
        </p>
    </div>
    <form method="get" action="#">
        <label for="degree">Formation</label>
        <select name="degree" id="degree">
            {% for degree in degrees %}
                <option value="{{ degree.id }}">{{ degree.name }}</option>
            {% endfor %}
        </select>
        <div>
            <label for="year">Année</label>
            <select name="year" id="year">
                {% for year in years %}
                    <option value="{{ year.id }}">{{ year.title }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="button">Go !</button>
    </form>
{% endblock %}
