{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}
{% block body %}
    <div class="container">
    <div id="presentation">
        <p>Ce site a été créer afin de rassemblé les anciens élève de la formation du GRETA. Il permet de communiquer avec
            les élèves d'obtenir une liste des entreprises qui ont pris des stagiaires et de faire des recherches sur les différentes
            évolutions de chacun.
        </p>
    </div>

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <form action="{{ path('home.index',{"_fragment":"search-results"}) }}" method="post" class="center-form">

            <label for="degree">Formation</label>
            <select name="degree" id="degree">
                <option value="">Toutes les Années</option>
                {% if app.request.request.get('degree') is not null %}
{#                    <option value="{{ app.request.request.get('degree') }}">{{ templateData.degrees..name }}</option>#}
                {% endif %}
                {% for degree in templateData.degrees %}
                    <option value="{{ degree.id }}">{{ degree.name }}</option>

                {% endfor %}
            </select>
            <div>
                <label for="year">Année</label>
                <select name="year" id="year">
                    <option value="">Toutes les Années</option>
                    {% if app.request.request.get('year') is not null %}
{#                    <option value="{{ app.request.request.get('year') }}">{{ templateData.year.title }}</option>#}
                    {% endif %}

                    {% for year in templateData.years %}
                        <option value="{{ year.id }}">{{ year.title }}</option>
                    {% endfor %}
                </select>

               {#{{ dump(templateData) }}#}
            </div>
            <button type="submit" class="button">Go !</button>
        </form>
        <section id="search-results">
            <div class="count">
                {{ pagination.getTotalItemCount }}
            </div>
            <table>


                {# table body #}
                {% for user in pagination %}

                    <tr {% if loop.index is odd %}class="color"{% endif %}>
                        <li>
                            {% set avatar_dir = constant('App\\Service\\Avatar\\SvgAvatarFactory::AVATAR_DIR') %}
                            <img src="{{ asset(upload_dir ~ '/' ~ avatar_dir ~ '/' ~ user.avatar)}}" alt="">
                            <p><a href="{{ path('alumni.index',{"id":user.id,"slug":user.slug}) }}">{{ user.lastname }} {{ user.firstname }}</a><br>
                                {% for promo in user.promotions %}

                                <a href="{{ path('promotion.index',{"id":promo.id}) }}"> {{ promo.degree.name }} {{ promo.year.title }}</a><br>
                                {% endfor %}
                            </p>
                        </li>
                    </tr>
                {% endfor %}
            </table>
            {# display navigation #}
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
{#            {%  if results is defined %}
                <ul>

                    {% for user in results %}
                        <li>
                            {% set avatar_dir = constant('App\\Service\\Avatar\\SvgAvatarFactory::AVATAR_DIR') %}
                            <img src="{{ asset(upload_dir ~ '/' ~ avatar_dir ~ '/' ~ user.avatar)}}" alt="">
                            <p><a href="{{ path('alumni.index',{"id":user.id,"slug":user.slug}) }}">{{ user.lastname }} {{ user.firstname }}</a><br>
                                {% for promo in user.promotions %}
                                    {{ promo.degree.name }} {{ promo.year.title }}<br>
                                {% endfor %}
                            </p>

                        </li>
                    {% endfor %}
                </ul>

            {% endif %}#}
        </section>
    {% endif %}
{% endblock %}
